body{
  background-color: #F5F7FE;
}

button:hover{
  background-color: #45a049;
  transform: scale(1.05);
  transition: box-shadow 0.3s ease;
   box-shadow: 0 8px 16px rgba(52, 152, 219, 0.6);
}
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav{
    background-image: url(../Assets/Hero-bg.png);
    max-width: 1440px;
    height: 698px;
    margin: 0 auto;
}
.nav-bar{
    display: flex;
    height: 151px;
    margin: 0 auto;
    gap: 850px;
}
.nav-bar h1{
    width: 99px;
    height: 51px;
    font-size: 34px;
    margin: 50px 0 0 170px;
    color: #4E47FF;
    font-weight: bold;
}
.nav-bar button{
    height: 48px;
    width: 132px;
    font-weight: bold;
    color: white;
    background-color: #4E47FF;
    border-radius: 10px;
    margin: 49px 150px 0 0;
    border: none;
    cursor: pointer;
}
.banner{ 
    text-align: center;  

}
.banner h1{
    width: 905px;
    height: 152px;
    font-weight: bold;
    color: #252432;
    font-size: 65px;
    margin: 128px 267px 0 285px;
     font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.banner button{
    height: 48px;
    width: 174px;
    background-color: #4E47FF;
    font-size: 16px;
    border-radius: 10px;
   margin: 37px 633px 0 650px;
    color: white;
    border: none;
    cursor: pointer;
}
section{
    max-width: 1140px;
    height: 328px;
    margin: 116px auto;
    display: flex;
    gap: 220px;
}
section img{
    height: 328px;
    width: 403px;
    border-radius: 48px;
}
section div h2{
    height: 49px;
    width: 517px;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
     font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
section div p{
    height: 60px;
    width: 470px;
    font-size: 24px;
    color: inherit;
     font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
section div button{
    height: 48px;
    width: 229px; 
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.user-2{
    height: 45px;
    width: 856px;
    font-size: 28px;
    font-weight: bold;
   margin: 50px 142px 0 142px;
   
}
.user{
    height: 306px;
    width: 1140px;
    border-radius: 24px;
    background-color: #cdcdd3;
    margin: 116px auto;
}
.user-1 h1{
    height: 97px;
    width: 162px;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    
}
.user-1{
    display: flex;
    gap: 158px;
    margin: 40px 0 50px 142px;
}

.stats-box {
      background-color: #eaeaff;
      padding: 40px 20px;
      border-radius: 16px;
      max-width: 1140px;
      height: 236px;
      margin: 80px auto;
      text-align: center;
}

.stats-box h2 {
      font-size: 38px;
      font-weight: 600;
      margin-bottom: 30px;
      color: #1a1a1a;
      font-weight: bold;
       font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.stats {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
}

.stat-item h3 {
      font-size: 80px;
      color: #4a47ff;
      margin: 0;
       font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.stat-item p {
      font-size: 20px;
      color: #555;
      margin-top: 8px;
}


.review-section {
      max-width: 1140px;
      height: 49px;
      margin: 40px auto;
      text-align: center;
      padding: 20px;
      
}

.review-section h2 {
      font-size: 42px;
      font-weight: 600;
      margin-bottom: 50px;
      color: #1a1a1a;
      font-weight: bold;
       font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.review-cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
}

.card {
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.05);
      padding: 20px;
      flex: 1;
      min-width: 280px;
      max-width: 1140px;
      text-align: left;
}

.stars img {
      width: 18px;
      height: 18px;
      margin-right: 2px;
}

.title {
      font-size: 22px;
      font-weight: 600;
      margin: 12px 0;
      height: 29px;
      width: 221px;
      font-weight: bold;
}

.text {
      font-size: 18px;
      margin-bottom: 20px;
      color: inherit;
}

.reviewer {
      display: flex;
      align-items: center;
      gap: 15px;
 }

.reviewer img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
}

.reviewer-info {
      font-size: 16px;
      color: #666;
      font-weight: bold;
}

.reviewer-info span {
      display: block;
      font-weight: 600;
      color: #333;
}


    .focus-wrapper {
      
      display: flex;
      justify-content: center;
      padding: 0 20px;
      background-color: white;
       max-width: 1140px;
      border-radius: 16px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.05);
       height: auto;
       margin: 400px auto 0 ;
    }

    .focus-container {
      text-align: center;
      padding: 60px 20px 70px;  
    }
    .focus-container h1 {
      font-size: 50px;
      font-weight: bold;
      color: #111;
      margin-bottom: 12px;
       font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
    }

    .focus-container p {
      font-size: 18px;
      color: #555;
      margin-bottom: 24px;
      height: 22px;
    }

    .focus-container button{
      background-color: #4f46e5;
      color: #fff;
      padding: 25px 24px;
      border-radius: 8px;
      font-size: 16px;
      margin-bottom: 30px;
      width: 205px;
      cursor: pointer;
    }

    .focus-container img {
      max-width: 100%;
      border-radius: 48px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    } 


    .container {
  display: flex;
  align-items: center;
  max-width: 1140px;
  height: 632px;
  margin: 95px auto 0;
  gap: 115px;
}

.left {
  flex: 1;
}

.left h1 {
  font-size: 97px;
  font-weight: bold;
  color: #000;
  line-height: 1.2;
   font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.right {
  flex: 1;
  height: 490px;
  width: 497px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form label {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

form input,
form textarea {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 20px;
  outline: none;
  resize: none;
  height:50px ;
  font-weight: 500;
}

form textarea {
  height: 100px;
}

form button {
  background-color: #4f46e5;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 62px;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #4338ca;
}

footer {
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1440px;
      height: 428px;
      margin: 70px auto 0;
      box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    }

    .footer-container {
      text-align: center;
    }

    .footer-logo {
      font-size: 100px;
      font-weight: bold;
      color: #4A3CFF;
      margin-bottom: 20px;
      height: 121px;
      width: 291px;
      margin: 0 auto;
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
    }

    .footer-text {
      font-size: 14px;
      color: #8A8BA3;
      margin-bottom: 40px;
      line-height: 1.6;
      height: 48px;
      width: 531px;
      font-size: 18px;
    }

    .footer-menu {
      display: flex;
      justify-content: center;
      gap: 40px;
      font-size: 14px;
      color: #8A8BA3;
      font-size: 18px;
    }

    .footer-menu a {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
    }

